* {
  margin: 0px;
  padding: 0px;
}

.mainwrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  filter: brightness(100%);
}

.menucontainer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  border: 0.5px solid #ffffff;
  box-shadow: inset;
  font-style: "Arial";
  align-items: center;
}

.menucontainer li {
  margin: 0 10px 0 10px;
  align-items: center;
  padding-right: 30px;
}

.login {
  border-radius: 5px;
  font-size: 14px;
  width: 60px;
  padding: 10px;
  color: #4caf4f;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-left: 30px;
}

.authenticationcont {
  display: flex;
  flex-wrap: wrap;
}

.signup {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 70px;
  background-color: #4caf4f;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 5px 0 15px;
}

.maincontainer {
  display: flex;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #f5f7fa;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: #f5f7fa;
  position: relative;
}

.container1 {
  width: 50%;
  padding: 0 0 80px 60px;
}

.insights1 {
  font-weight: 600;
  color: #4d4d4d;
  font-style: "Arial";
  font-size: 70px;
}

.insights2 {
  font-weight: 600;
  color: #4caf4f;
  font-style: "Arial";
  font-size: 60px;
}

.insights3 {
  font-style: "Arial";
  font-size: 15px;
  color: #717171;
  font-weight: 600;
}

.subcont1 {
  /* width: 50vw; */
}

.subcont2 {
  /* width: 30vw; */
}
.subcont3 {
  /* width: 40vw; */
}

/* .template {
  margin-right: ;
} */

.buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
}

button {
  padding: 3px;
  width: 10px;
  color: #4d4d4d;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.Containerhamburger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  border-radius: 20px;
  width: 20px;
  padding: 2px;
  background-color: black;
  margin: 2px 0;
}

.list:hover {
  background-color: #4d4d4d;
}

.P-mainbox {
  width: 100%;
}

.P-mainbox1 {
  text-align: center;
  padding: 10px;
}

.Clients {
  margin-top: 50px;
  padding: 10px 0 10px 0;
  color: #717171;
  font-size: 25px;
  font-weight: 700;
}

.details {
  margin-top: 10px;
  padding: 10px 0 10px 0;
  color: #717171;
  font-size: 15px;
  font-weight: 200;
}

.Logos-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.Logos-container img {
  margin: 20px 20px 0 20px;
}

.Logos-container img:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.3);
}

.Community-Holder {
  margin-top: 100px;
  width: 100%;
}

.Community {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 40px;
}

.singlesystem {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 35px;
}

.suitable {
  margin-top: 10px;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 15px;
}

.Card {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.Card p {
  text-align: center;
}

.companyCard {
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
}

.companyCard:hover {
  transition: 0.5s ease-in-out;
  box-shadow: -1px 7px 20px 1px #f2f1f1;
}

.companyCard img {
  height: 40px;
  padding: 7px;
}

.Member {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 600;
  text-align: justify;
}

.Membership {
  color: #4d4d4d;
  padding: 7px;
  font-size: 15px;
  font-weight: 200;
}

.container {
  margin-top: 80px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.img-con {
  display: flex;
  justify-content: center;
  width: 50%;
}

.img-con img {
  height: 250px;
  width: 350px;
}

#container2 {
}

.img-titile-title {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 600;
}

.img-title-subtitle {
  text-align: justify;
  margin-top: 20px;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 14px;
  width: 520px;
}

.img-titile-button button {
  margin-top: 20px;
  margin-left: 0px;
  font-size: 15px;
  color: white;
  background-color: #4caf4f;
  padding: 10px;
  width: 149px;
  border: none;
}

.marquee {
  direction: left;
}

.NB-mainpage {
  width: 100%;
}

.NB-1container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.NB-2container {
  width: 50%;
}

.Panacss {
  height: 300px;
  width: 300px;
}

.Business-analayis {
  display: flex;
  margin-top: 100px;
}

.Business-analayis {
  padding: 60px;
  background-color: #f5f7fa;
}

.Members-grp1 {
  align-content: center;
  width: 50%;
}

.Members-grp1 div:nth-child(1) {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 600;
}

.Members-grp1 div:nth-child(2) {
  font-size: 32px;
  color: #4caf4f;
  font-weight: 600;
}
.Members-grp1 div:nth-child(3) {
  margin-top: 5px;
  color: #18191f;
  font-size: 13px;
  font-weight: 500;
}

.Members-grp2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.NB-mainpage {
  margin-top: 100px;
  display: flex;
}

.NB-2container-title {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 600;
  width: 520px;
}

.NB-2container-subtitle {
  text-align: justify;
  margin-top: 20px;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 14px;
  width: 520px;
}

.NB-2container-button button {
  margin-top: 20px;
  margin-left: 0px;
  font-size: 15px;
  color: white;
  background-color: #4caf4f;
  padding: 10px;
  width: 149px;
  border: none;
}

@media only screen and (max-width: 1000px) {
  .menucontainer {
    display: none;
    transition-duration: 0.2s;
  }
  .Containerhamburger {
    display: flex;
    transition-duration: 0.5s;
  }

  .maincontainer {
    flex-direction: column;
    width: 100%;
    transition-duration: 0.5s;
  }

  .container1 {
    padding: 0px;
    width: 100%;
    transition-duration: 0.5s;
  }

  .insights1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    transition-duration: 0.5s;
  }

  .subcont3 {
    font-weight: bolder;
    text-align: center;
    transition-duration: 0.5s;
  }

  .insights2 {
    font-size: 40px;
    text-align: center;
    transition-duration: 0.5s;
  }

  .Membership {
    width: 90%;
  }

  .Membership p {
    margin-top: 10px;
  }

  .Member p {
    font-size: 15px;
  }

  .insights3 {
    font-size: 11px;
    font-weight: 700;
    transition-duration: 0.5s;
  }

  .template {
    height: 300px;
    width: 300px;
    transition-duration: 0.5s;
  }

  button {
    border: 2px solid black;
    transition-duration: 0.5s;
  }

  .Logos-container {
    display: flex;
    flex-wrap: wrap;
  }

  .suitable {
    font: 18px;
  }

  .P-mainbox {
    margin-top: 30px;
  }

  .Card {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
  }

  .companyCard {
    width: 90%;
  }

  .container {
    display: block;
  }

  .img-con {
    display: block;
  }

  .img-titile-title p {
    font-size: 35px;
    font-weight: 400;
  }

  .img-title-subtitle {
    width: 360px;
    font-size: 15px;
  }

  .img-titile-button {
    margin-left: 120px;
  }

  .Business-analayis {
    display: block;
    padding: 30px;
  }

  .Members-grp1 {
    width: 100%;
  }

  .Members-grp2 {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Members-grp1 div:nth-child(2) {
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
  }

  .Members-grp1 div:nth-child(1) {
    font-size: 30px;
    text-align: center;
  }

  .Members-grp1 div:nth-child(3) {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 00;
  }

  .NB-mainpage {
    display: block;
  }

  .NB-1container {
    width: 100%;
  }

  .NB-2container {
    justify-items: center;
    width: 100%;
  }
  .NB-2container-title {
    width: 100%;
  }

  .NB-2container-title p {
    text-align: center;
    padding: 10px;
  }

  .NB-2container-subtitle {
    margin: 0%;
    width: 100%;
  }

  .NB-2container-subtitle p {
    text-align: justify;
    padding: 20px;
  }

  .NB-2container-button {
    justify-content: center;
  }
}
